<!DOCTYPE html>
<html>
    <head>
        <title>Spring</title>
        <style>
            table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
            }

            td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th bgcolor="#dddddd">
                    <a href="/pacientes">Pacientes</a>
                </th>
                <th>
                    <a href="/medicos">Medicos</a>
                </th>
                <th>
                    <a href="/medicamentos">Medicamentos</a>
                </th>
                <th>
                    <a href="/prescricoes">Prescrições</a>
                </th>
            </tr>
        </table>
        
        <table>
            <dl th:each="paciente : ${pacientes}">
                <tr>
                    <dt class="st1">
                        <td><span th:text="${paciente.nome}"></span></td> 
                        <td><span th:text="${paciente.cpf}"></span></td>
                        <td><span th:text="${paciente.nascimento}"></span></td> 
                    </dt>
                </tr>
            </dl>    
        </table>
        
        <hr />

        <form method="POST">
            <table>
                <tr>
                    <th colspan="2" bgcolor="#dddddd">
                        Adicione um novo paciente:
                    </th>
                </tr>
                <tr>
                    <td>
                        Nome:
                    </td>
                    <td>
                        <input type="text" name="nome" size="50"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        CPF:
                    </td>
                    <td>
                        <input type="text" name="cpf" size="50"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Data de Nascimento:
                    </td>
                    <td>
                        <input type="text" name="nascimento" size="50"></input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Adicionar"></input>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>