<!DOCTYPE html>
<html>
    <head>
    <title>Prescricoes</title>
    </head>
    <body>
        <h2>Lista de Prescrições</h2>
        <dl th:each="prescricao : ${prescricoes}">
            <dt class="">
                Medico:<span th:text="${prescricao.medico.nome}"></span><br></br>
                Paciente:<span th:text="${prescricao.paciente.nome}"></span><br></br>
                Data:<span th:text="${prescricao.data}"></span><br></br>
                <dl th:each="medicamento : ${prescricao.medicamentos}">
                    Medicamento:<span th:text="${medicamento.nome}"></span><br></br>
                </dl>
            </dt>
            <hr />
        </dl>
        <hr />
        <h3>Adicionar uma nova Prescricao:</h3>
        <form method="POST">
            <select name="medico_id">
                <option value="0">Selcione o Médico</option>
                <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}"></option>
            </select>
            <select  name="paciente_id">
                <option value="0">Selcione o Paciente</option>
                <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}"></option>
            </select>
            <input name="medicamentos" type="checkbox" th:each="medicamento : ${medicamentos}" th:value="${medicamento.id}" th:text="${medicamento.nome}"></input>
            <input type="text" name="data" size="50"></input>
            <input type="submit" value="Adicionar"></input>
            <hr />
        </form>
    </body>
</html>