<!DOCTYPE html>
<html>
    <head>
        <title>Spring</title>
        <style>
            table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
            }

            td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>
                    <a href="/pacientes">Pacientes</a>
                </th>
                <th>
                    <a href="/medicos">Medicos</a>
                </th>
                <th>
                    <a href="/medicamentos">Medicamentos</a>
                </th>
                <th>
                    <a href="/prescricoes">Prescrições</a>
                </th>
            </tr>
        </table>
    </body>
</html>
